* {
  font-family: 'Lato', sans-serif;
}

.navbar {
  background: #333;
}

.hero-img {
  background-image: 
  url(http://res.cloudinary.com/dmzulpcul/image/upload/v1511395773/turntable-top-view-audio-equipment-159376_rt20ei.jpg);
  height: 500px;
  max-width: 1960px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.center-this-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.splash-title{
  display: flex;
  font-size: 36px;
  top: -313px;
  width: 725px;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  position: relative;
  color: #9e2c1c;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border: 1px solid;
  border-color: white;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}

.splash-button{
  display: flex;
  font-size: 20px;
  top: -295px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border: 1px solid;
  padding: 15px;
  border-radius: 5px;
  background-color: #e0442c;
  color: white;
  border: none;
}

.splash-button:hover {
  cursor: pointer;
  color: #e0442c;
  background-color: white;
}

.sample-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  min-height: 800px;
  padding: 0px;
  padding-bottom: 40px;
}


.song-square {
  display: flex;
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 2px solid;
  border-color: goldenrod;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0; margin: 0;
}

.sample-section {
  width: 850px; 
  margin: auto;
  margin-bottom: 150px;
}


.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  background: #111;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
}


.footer p {
  color: white;
  font-size: 15px;
}

.footer-icons {
  display: flex;
  margin: 25px;
  color: #696969;
  font-size: 25px;
}

.a {
  
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938378/HfkXO8LoLahUcrg13XqnQ_yGJ3t8BWyIEXIjpsIGxR0_veqmyh.png);
}

.b {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938375/ktelr4qynplz_mvxdao.jpg);
}

.c {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938375/z-WADQzR3ydP3U2rcYHRK84rCZ4u94CNDgebutN_2k4_uriu4x.jpg); 
}

.d {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938374/v8wPWnhgbqw9kvxt6rIMihJ-xKZyC94zuJRcR8xuJZ0_jbvbo5.jpg);
}

.e {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938375/78gkv9bm2mdz_tijbjk.png);
}

.f {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938375/NhDIaUGmX2H2MCxTIpCY19k5d8ZJVgbBW-WO9X81JnA_azphrk.jpg);
}

.g{
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938374/HD2a-oKZ2Axb08_j7I9dIs05CXNRyUQLTDg_lJFh78U_arxabd.png);
}

.h {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938371/0BAtVWeR2-pQJMx63OOCfeh5RAGpOD2utd8MJUXYhV4_kkcxhk.jpg);
}

.i {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938371/gl49v1wi3xnz_owkrm2.jpg);
}

.j {
  background-image: url(http://res.cloudinary.com/dmzulpcul/image/upload/c_scale,w_200/v1511938371/3pKDcro_lonflx.jpg);
}







