.song-image-profile {
  display: flex; 
  width: 200px;
  height: 200px;
}

.button-page-box {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

a.play-button-on-show {
  margin: 10px;
  margin-left: 48px;
  margin-top: 5%;
  padding: 23px;
  border-radius: 16%;
  font-size: 45px;
  padding-left: 30px;
}

.page-description {
  margin-top: 4px;
  color: #ccc;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.2;
  padding: 2px 7px 3px;
  display: flex;
  position: relative;
  background-color: rgba(0,0,0,.8);
  -webkit-box-decoration-break: clone;
}

.comment-section{
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
}

.user-tracks ul {
  width: 100%
}