


.song-container {
  border-top: 0.1px solid;
  border-bottom: 0.1px solid;
  display: flex;
  border-color: #c1c1c1;
  width: 100%;
  padding: 20px;
}

.album-cover {
  width: 150px;
  height: 150px;
  box-shadow: 3px 3px 4px #888888;
  margin: 5px;
  margin-right: 25px;
}

.audio-player-html {
  margin-top: 36px;
}

.song-info {
  margin-bottom: 28px;
}

.play-button {
  border-radius: 34%;
  background-color: #e0442c;
  padding: 8px;
  padding-left: 12px;
}

.play-button:hover {
  background-color: rgb(124, 0, 0);
  cursor: pointer;
}

.edit-and-delete-buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -69px;
}

.edit-and-delete-buttons li {
  padding-right: 5px;
  text-decoration: none;
}

.fa-pencil-square-o {
  color: black;
}

.fa-times:hover {
  cursor: pointer;
}