.user-profile {
  display: flex;
  justify-content: center;
}

.profile-header {
  display: flex;
  width: 80%;
  background-image: url("http://res.cloudinary.com/dmzulpcul/image/upload/v1511737342/warm-country-floor_r081bo.jpg");
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-width:1200px;
}

.info-section {
  display: flex;
  margin: 60px;
  width: 200%;
  height: 200px;

}

.edit-section {
  width: 100%;
  text-align: right;
  font-size: 43px;
  padding: 0.6%;
}

.edit-section i {

}

.profile-image {
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
}

.user-info {
  margin: 10px;
  margin-top: 0px;
  color: white;
  width: 100%;
}

.user-info li:first-child{
  display: inline-block;
  background-color: rgba(0,0,0,.8);
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
  
}

.user-tracks-left-bar{
  border: 1px solid;
  border-color: #c1c1c1;
  margin: 5px;
  height: 100%;
  width: 150px;
}

.user-tracks {
  display: flex;
  margin: auto;
  width: 80%;
  background-color: white;
  min-height: 800px;
  background-size: 100% auto;
  height: fit-content;
  margin-bottom: 35px;
  min-width: 1200px;
}

.enabled {

}

.disabled {
  display: none;
}

.user-edit-icon {
  color: white;
  font-size: 25px;
}

.wavform {
  align-content: center;
}

