.user-profile {
  display: flex;
  justify-content: center;
}

.profile-header {
  display: flex;
  width: 80%;
  background-image: url("http://res.cloudinary.com/dmzulpcul/image/upload/v1511737342/warm-country-floor_r081bo.jpg");
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.info-section {
  display: flex;
  margin: 60px;
  width: 500px;
  height: 200px;

}

.edit-section {
  width: 100%;
  text-align: right;
  font-size: 43px;
  padding: 0.6%;
}

.edit-section i {

}

.profile-image {
    display: flex; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-info {
  margin: 10px;
  margin-top: 0px;
  margin-left: 48px;
  color: white;
}

.user-info li:first-child{
  display: inline-block;
  background-color: rgba(0,0,0,.8);
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
  
}

.user-tracks {
  margin: auto;
  width: 80%;
  background-color: white;
  height: 800px;
  background-size: 100% auto;
}

.enabled {

}

.disabled {
  display: none;
}